@font-face {
  font-family: 'Plantin';
  src: url('Plantin.eot'); /* IE9 Compat Modes */
  src: url('Plantin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Plantin.woff') format('woff'), /* Modern Browsers */
       url('Plantin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Plantin.svg#c2fc3152db94dd753529ad0ca1cbd269') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

