@charset "utf-8";

body {
  font-size: 80%;
}

.font-size-45 {
	font-size:40px;
}

.font-size-25 {
  font-size: 1.4em;
}

#program.s2 .home .slides .line {
  margin: 2% auto;
}

#program.s2 .home .slides .slide-item-3 .line {
  margin: 2% 0px;
}

.s3 .home .c p {
  padding: 2% 0px;
  line-height: 120%;
}
.s3 .home .c h4 {
  padding: 5px 0px;
  font-family: "Helvetica light";
  color: #fff;
  font-size: 1em;
}

.s3 .home .slides .r-c .next-icon {
  margin-top: 40px;
  float: right;
}

.subscribe-form form {
  width: 100%;
  margin: 0 auto;
  display: table;
  margin-left: 0px;
  margin-top: 0%;
}

.s3 .home .slide-item-3 .c p {
  padding: 2% 0px;
}

.s3 .home .slides .r-c .next-icon {
  margin-top: 4px;
}

.s3 .apply-btn {
  float: right;
  clear: right;
  padding: 0px;
  background: #c1093d;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  margin-top: 8px;
  width: 176px;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  cursor: pointer;
}

.s3 .home .slide-item.slide-item-3 .c ul p {
  margin-left: -20px;
  padding: 0px;
  line-height: 100%;
}

.s1 .home .header-tip .logo {
  width: 400px;
}

.s2 .home .slides .slide-item-3 .line {
  margin: 5px 0px;
  height: 1px;
}

.s2 .slides .r .signature {
  height: 66px;
  margin-bottom: 0px;
}

.subscribe-form {
  bottom: 10%;
}

.s3 .home .slide-item-0 .c ul {
  list-style-position: inside;
  margin-left: 0px;
  margin-top: -2%;
}

.s2 .header h1  {
  line-height: 40px;
  height: 40px;
}

.s2 .slides .r .hl2 {
  font-size: 3em;
  margin-bottom: 11px;
}

.s2 .slides .r .hl3 {
    font-size: 2.5em;
}

#academy.s2 .home .slides .slide-item-0  .line {
  margin: 20px 0px;
  clear: both;
}

.s2 .slides .slide-item-3 .r .hl2 {
  font-size: 3em;
}

.s2 .slides .slide-item-3 .r .hl3 {
  font-size: 2.5em;
}

.s3 .header  > .line {
    background: #231815;
    margin: 17px 0px;
    margin-top: 12px;
}

.s3 .content .header > h4 {
    margin-bottom: 17px;
}

.s3 .header {
    margin-bottom: 99px;
    padding-top: 99px;
}

#program.s3 .slides .slide-item-0  .r-c-slide-2 p{
    padding: 1% 0px;
}

#program.s3 .slides .slide-item-0 .r-c-slide-2 p.p2 {
    padding: 2% 0px;
}

#program.s3 .slides .slide-item-0  .r-c-slide-2 ul li .slide-l-t {
    padding: 0px;
}

#program.s3 .slides .slide-item-0  .r-c-slide-2 ul li p {
    padding: 0px;
}

.s2 .slides .slide-item-1 .r .hl2 {
  margin-bottom: 3px;
}

.s2 .home .slides  .slide-item-1 .r .c > p {
  padding:6px 0;
  font-size: 1.5em;
}

#program.s2 .home .slides  .slide-item-1 .r .c .line {
  margin: 1% auto;
  margin-bottom: 3%;
}

#program.s2 .home .slides  .slide-item-2 .r  .hl2{
    font-size: 2.5em;
}

.s5 .block-con .news-item-date .v-c span {
  font-family: "Helvetica";
  margin-top: -34%;
  font-size: 0.8em;
}

.btn-pk {
  left: 50%;
}

@media screen and (max-width: 1200px) {
  #home .home-nav {
    padding: 10px 5px 10px 16px;
    font-size: 0.85em;
    width: 131px;
  }

  #home .home-nav .lan-bar li.item-1 {
    padding-right: 20px;
  }

  #home .home-nav .lan-bar li.item-2 {
    padding-left: 10px;
  }

  #home .home-nav .more-info .p3 {
    margin-top: 5px;
  }

  #home .home-nav .more-info {
    margin-top: 15px;
  }
}

