@charset "utf-8";

.font-size-45 {
	font-size:40px;
}

.font-size-25 {
	font-size: 20px;
}

/*.s2 .home .slides .r {
	margin-right: 67px;
	width: 33%;
}

..s2 .slides .r .signature {
	margin-bottom: 0px;
	margin-top: 0px;
}

.s2 .home .slides .line {
	margin: 4px 0px;
}
*/