@charset "utf-8";


.s {
    background-attachment: fixed;
    width:100%;
    height:auto;
    position: relative;
}

.hideme {
    display: none;
}

.font-size-35 {
    font-size: 35px;
}

.font-size-45 {
    font-size: 45px;
}

.font-size-20 {
    font-size: 1.4em;
}

.font-size-25 {
    font-size: 1.5em;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-12 {
    font-size: 12px;
}

.img-half {
    width:50%;
}

html, body {
    min-width: 1200px;
    height: 100%;
    font-family: "Helvetica Light";
}

.body .left-bar {
    position: fixed;
    left: 0px;
    top: 50%;
    background: #B41A3C;
    height: 350px;
    width: 50px;
    margin-top: -175px;
    z-index: 10000;
}

.body .left-bar .left-bar-menu .hover-menu {
    display: block;
    position: absolute;
    left: 140%;
    background: #c81240;
    color: #fff;
    text-transform: uppercase;
    padding: 8px;
    font-size: 12px;
}

.body .left-bar .left-bar-menu .hover-menu a{
    color: #fff;
}

.body .left-bar .left-bar-menu .hover-menu .arrow {
    border: 10px solid #c81240;
    height: 0px;
    width: 0px;
    border-color: transparent #c81240 transparent transparent;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px; 
}


.body .right-bar {
    position: fixed;
    right: 0px;
    top: 50%;
    background: #cccccc;
    height: 240px;
    width: 50px;
    margin-top: -120px;
    z-index: 10000;
    background: url(../misc/images/menu_social.jpg) no-repeat;
    background-position: center center;
}

.body .left-bar .left-bar-menu {
    position: absolute;
    top: 50%;
    margin-top: -175px;
}

.body .left-bar .left-bar-menu .m-item {
    float: left;
    width: 50px;
    height: 50px;
    text-indent: 10000px;
}

.body .left-bar .left-bar-menu .m-item-0 {
    background: url(../misc/images/menu_site_up.png) no-repeat;
    background-position: center center;
}

.body .left-bar .left-bar-menu .m-item-0:hover {
    background-image: url(../misc/images/menu_site_up_on.png);
}

.body .left-bar .left-bar-menu .m-item-1 {
    background: url(../misc/images/menu_site_home.png) no-repeat;
    background-position: center center;
}

.body .left-bar .left-bar-menu .m-item-1:hover{
    background-image: url(../misc/images/menu_site_home_on.png);
}

.body .left-bar .left-bar-menu .m-item-1.current{
    background-image: url(../misc/images/menu_site_home_on.png);
}

.body .left-bar .left-bar-menu .m-item-2 {
    background: url(../misc/images/menu_site_academy.png) no-repeat;
    background-position: center center;
}

.body .left-bar .left-bar-menu .m-item-2:hover, .body .left-bar .left-bar-menu .m-item-2.current {
    background-image: url(../misc/images/menu_site_academy_on.png);
}

.body .left-bar .left-bar-menu .m-item-3 {
    background: url(../misc/images/menu_site_program.png) no-repeat;
    background-position: center center;
}

.body .left-bar .left-bar-menu .m-item-3:hover, .body .left-bar .left-bar-menu .m-item-3.current {
    background-image: url(../misc/images/menu_site_program_on.png);
}

.body .left-bar .left-bar-menu .m-item-4 {
    background: url(../misc/images/menu_site_residential.png) no-repeat;
    background-position: center center;
}

.body .left-bar .left-bar-menu .m-item-4:hover, .body .left-bar .left-bar-menu .m-item-4.current {
    background-image: url(../misc/images/menu_site_residential_on.png);
}

.body .left-bar .left-bar-menu .m-item-5 {
    background: url(../misc/images/menu_site_news.png) no-repeat;
    background-position: center center;
}

.body .left-bar .left-bar-menu .m-item-5:hover,.body .left-bar .left-bar-menu .m-item-5.current {
    background-image: url(../misc/images/menu_site_news_on.png);
}

.body .left-bar .left-bar-menu .m-item-6 {
    background: url(../misc/images/menu_site_down.png) no-repeat;
    background-position: center center;
}

.body .left-bar .left-bar-menu .m-item-6:hover {
    background-image: url(../misc/images/menu_site_down_on.png);
}


.img-full {
    width: 100%;
}

.maincontent {
}

.s1 .home {
}

.s1 .home .header-tip {
    position: absolute;
    top: 9.6%;
}

.s1 .home .header-tip .logo {
    float: left;
    width: 620px;
    text-align: center;
}

.s1 .home .header-tip .t {
    text-transform: uppercase;
    float: left;
    color: #595757;
    font-family: "Plantin";
}

.s2 {
    background: #ffffff;
}

.s2 .header  {
    padding-top: 12%;
    width: 60%;
    margin: 0 auto;
}

.s2 .header  .line{
    height: 1px;
    width: 100%;
    background: #000;
    margin: 4% 0px;
}

.s2 .header h1 {
    text-transform: uppercase;
    text-align: center;
    color: #231815;
    font-family: "Plantin";
    height: 45px;
    line-height: 45px;
}

.s2 .home .star {
    position: absolute;
    width: 161px;
    height: 80px;
    background: url(../misc/images/arrow_academy.png) no-repeat;
    background-position: center center;
    background-size: 100%;
    left: 50%;
    margin-left: -80px;
}

.s2 .home .c {
    color: #231815;
    font-family: "Helvetica Light";
    text-align: center;
    word-wrap: normal;
    word-break: break-all;
    font-size: 1.5em;
}

.s2 .home .video {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 20px;
    position: relative;
}

.s2 .home .video img:hover {
    cursor: pointer;
}

.s2 .home .slides {
    position: relative;
    background-color: #970F37;
}

.s2 .home .slides .l {
    float: left;
    width: 50%;
    position: relative;
}

.s2 .home .slides .r {
    float: right;
    width: 35%;
    color: #fff;
    margin-right: 90px;
}

.s2 .home .slides .r .c {
    color: #fff;
    font-size: 1em;
    text-align: justify;
}

.s2 .home .slide-item-1 .r {
    margin-right: 166px;
}

.s2 .home .slide-item-2 .r {
    margin-right: 166px;
}

.s2 .home .slide-item-3 .r {
    margin-right: 124px;
}

.s2 .home .slides .line {
    height: 2px;
    width: 100%;
    background: #fff;
    margin: 30px 0px;
}

.s2 .slider-icon {
    position: absolute;
    width: 161px;
    height: 80px;
    background: url(../misc/images/arrow_white.png) no-repeat;
    background-position: center center;
    background-size: 100%;
    left: 50%;
    margin-left: -81px;
    top: -2px;
    z-index: 1000;
}

.s2 .slider {
    position: relative;
}

.s2  .slider-btns {
    height: 138px;
    left: 50%;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    top: 50%;
    margin-top: -69px;
    z-index: 999;
    color: #fff;
    position: absolute;
    word-wrap: break-word;
}

.s3 .slider-btns {
    margin-top: -68px;
}

.s2  .slider-btns .btns {
    height: 100%;
}

.s2  .slider-btns .btns .btn {
    width: 100%;
    height: 30%;
    float: left;
    text-align: right;
    line-height: 41px;
    text-transform: uppercase;
    margin-top: -1px;
    font-family: "Plantin";
    position: relative;
    overflow: hidden;
}

.s2  .slider-btns .btns .btn span {
    margin-right: 200px;
    display: inline-block;
    position: relative;
}

.s2  .slider-btns .btns .btn .b-icon {
    background: url(../misc/images/icon_open.png) no-repeat;
    background-position: center;
width: 17px;
height: 17px;
display: inline-block;
margin-left: 10px;
}

.s2  .slider-btns .btns .btn-1 {
    background: #D20839;
}

.slide-item .btn-c .btn-item-0 {
    background: #970F37;
}

.slide-item .btn-c .btn-item-1 {
    background: #970F37;
}

.slide-item .btn-c .btn-item-2 {
    background: #C2243B;
}

.slide-item .btn-c .btn-item-3 {
    background: #B11B3B; 
}

.s2 .slider-btns .btns .btn:hover {
    cursor: pointer;
}

.s2  .slider-btns .btns .btn-2 {
    background: #C2243B;
}

.s2  .slider-btns .btns .btn-3 {
    background: #B11B3B;
}

.s3 .content .header > h4 {
    color:#231815;
    margin-bottom: 25px;
    font-family: "Helvetica";
    text-align: center;
    font-weight: bold;
}

.s3 .home .content .header p.c {
    color:#231815;
}

.s3 .header {
    margin-bottom: 160px;
}

.s3 .header .line {
    background: #231815;
    margin: 25px 0px;
}

.s3 .home .slides {
    background-color: #7A7885;
}

.s3 .slide-item .l .l-table {
    display: table;
}

.s3 .slide-item .l .l-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.s3 .home .slides .r {
    float: right;
width: 50%;
color: #fff;
margin-right: 0px;
}

.s3 .home .c {
    color: #fff;
}

.s3 .slider-btns .btns .btn-1 {
background: #6F6E7A;
}

.s3 .slider-btns .btns .btn-2 {
    background: #63636E;
}


.s3 .slider-btns .btns .btn-3 {
    background: #5B5B63;
}

.s3 .home .c {
    line-height: 120%;
}

.s3 .home .c ul {
    list-style: disc;
    list-style-position: inside;
    padding: 0 20px;
    line-height: 30px;
    margin-left: -20px;
}

.s3 .home .slide-item-0 .r-c-c .c  ul {
    padding: 0 0px;
    padding-left: 12px;
}

.s3 .home .c  h4{
    padding: 10px 0px;
    font-family: "Helvetica Light";
}

.s3 .home .c  p {
    padding: 10px 0px;
}

.subscribe-form form {
    width: 100%;
    margin: 0 auto;
    display: table;
    margin-top: 10%;
    margin-left: -10px;
}

.subscribe-form form .item {
        display: table-cell;
    vertical-align: bottom;
}

.subscribe-form form .item-2 {
    width: 158px;
    padding-left:10px;
    font-family: "Helvetica Normal";
}

.subscribe-form form .item-2 label {
    padding-bottom: 7px;
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
}

.subscribe-form form .item-2 input{
    display: block;
}

.subscribe-form form .item-3 input[type="submit"] {
    border-radius: 5px;
    border: none;
    background: #B41A3C;
    font-size:10px;
    color:#fff;
    padding: 5px;
}

.subscribe-form form .item-3 {
    padding-left:10px;
}

.subscribe-form form .item-1 {
    width: 59px;
    height: 67px;
    background: url(../misc/images/download.png) no-repeat;
    background-position: center center;
    vertical-align: bottom;
    display: table-cell;
    position: relative;
    top: 10px;
}

.next-icon {
    margin-top: 50px;
}

.next-icon .p-icon {
    width: 15px;
    height: 29px;
    background: url(../misc/images/right_on.png) no-repeat;
    background-position: center;
    float: left;
}

.next-icon .p-icon:hover {
    background: url(../misc/images/right.png) no-repeat;
}

.next-icon .p-icon.p-icon-on {
    background: url(../misc/images/right.png) no-repeat;
}

.next-icon .next_txt {
    float: left;
    margin-left: 25px;
    height: 29px;
    line-height: 29px;
    color: #DBDCDC;
}

.next-icon .n-icon {
    width: 15px;
    height: 29px;
    background: url(../misc/images/left_on.png) no-repeat;
    background-position: center;
    float: left;
    margin-left: 25px;
}

.next-icon .next_txt:hover {
    cursor: pointer;
}

.next-icon .n-icon.n-icon-on {
    background: url(../misc/images/left.png) no-repeat;
}

.s4 {
    background: #fff;
}

.s4 .home .star {
    background: url(../misc/images/arrow_white.png) no-repeat;
    background-position: center;
    height: 72px;
    z-index: 11;
}

.s4 .home .slideshow-item  img{
    display: block;
}

.s4 .header .line {
    margin: 20px 0px;
    background: #000;
}

.s4 .header {
    margin-bottom: 65px;
}

.s4 .header h4{
    color:#000;
    margin-bottom: 10px;
    font-family: "Helvetica Light";
    text-align: center;
}

.s4 .slideshow {
}

.s4 .btnli {
    width: 50px;
    height: 50px;
    background: url(../misc/images/icon_slider_item.png) no-repeat;
    background-position: center;
}

.s4 .slideshow-btns{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 125px;
}

.s4 .slideshow-btns .btnli {
    width: 25px;
    height: 50px;
    background: url(../misc/images/icon_slider_item.png) no-repeat;
    background-position: center;
    float: left;
}

.s5 {
    width: 90%;
    margin: 0 auto;
    color: #AD113C;
    text-transform: uppercase;
}

.s5 .block-title > h2 {
    font-size: 45px;
    float: left;
}

.s5 .filters-con {
    float: left;
}

.s5 .filters-con .filters {
    margin-top: 23px;
}

.s5 .filters-con .filters .filter {
    vertical-align: bottom;
    display: table-cell;
    border-right: 1px solid;
    padding: 0px 20px;
    font-size: 14px;
}

.s5 .filters-con .filters .filter.filter-last {
    border: none;
}

.s5 .block-con .news-item {
    float: left;
    position: relative;
    width:20%
}

.s5 .news-block {
    margin-top: 73px;
    position: relative;
    overflow: hidden;
}

.s5 .news-block .block-con {
    margin-top: 35px;
}

.s5 .news-block .block-con .news-item img {
    display: block;
}

.s5 .block-con .news-item-date .v-c {
    font-family: "Helvetica Light";
    position: relative;
}

.s5 .block-con .news-item-date .v-c span{
  position: absolute;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  top: 50%;
  margin-top: -15%;
}


.s5 .block-con .news-item-date {
    padding-top: 20px;
    margin-top: 20px;
    background: #C1093D;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 0px;
    margin: 0px;
    width: 20%;
}

.s5 .block-con .pager a, .s5 .block-con .pager a:active, .s5 .block-con .pager a.link, .s5 .block-con .pager a:hover {
    color: #AD113C;
    text-decoration: none;
}

.s5 .block-con .pager .left-p {
    float: left;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
    position: relative;
    width: 150px;
}

.s5 .block-con .pager .right-p{
float: right;
width: 150px;
height: 100px;
position: relative;
overflow: hidden;
}

.footer {
    background: #C1093D;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.s2 .slides .r .hl2 {
    text-transform: uppercase;
    font-family: "Plantin";
}

.s2 .slides .r .hl3 {
    font-family: "Plantin";
    font-size: 30px;
}

.s2 .slides .r  .signature{
    width: 184px;
    height: 68px;
    margin-bottom: 20px;
    margin-top: 10px;
    background:url(../misc/images/signature_president.png) no-repeat;
    background-position: center center;
    margin-left: auto;
}

.s2 .slides .r  .signature-2 {
    background:url(../misc/images/signature_dean.png) no-repeat;
}

.slide-item .btn-c {
    height: 41px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    width: 768px;
    text-transform: uppercase;
    line-height: 41px;
    right: -363px;
    top: 50%;
    margin-top: -20px;
    text-align: right;
    color:#fff;
}

.slide-item .btn-c   span  {
    margin-right: 200px;
    display: inline-block;
}

.slide-item .btn-c span:hover {
    cursor: pointer;
}

.slide-item .btn-c   span .b-icon {
    background: url(../misc/images/icon_open.png) no-repeat;
    background-position: center;
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-left: 10px;
}

.s3 .home .slides .r-c .line {
    margin: 0px;
}

.s3 .home .slides .r-c .next-icon{
    margin-top: 35px;
    float: right;
}

.s3 .home .slides .l {
    float: right;
    overflow: hidden;
}

.s3 .home .slides .r {
    float: left;
    display: table;
}

.s3 .slide-item .btn-c {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=9);
    position: absolute;
    text-transform: uppercase;
    line-height: 41px;
    color: #fff;
    width: 675px;
    text-align: right;
    left:0px;
    top: 50%;
    margin-top: -20px;
}

.s3 .slide-item .btn-c .btn-item-2 {
    background: #63636e;
}

.s3 .slide-item .btn-c .btn-item-1 {
    background: #6f6e7a;
}

.s3 .slide-item .btn-c .btn-item-0 {
    background: #7a7885;
}

.s3 .slide-item .btn-c .btn-item {
    margin: -1px auto;
}

.s3 .slide-item .r-c-c {
    margin: 0 auto;
}

.s3 .home .slides .r-c .line-c {
    margin: 10px auto 20px auto;
}

.s3 .slides .slide-item-1  .r-c .c p{
    font-size: 20px;
}

.s3 .slide-item.slide-item-1 .r-c-c {
    margin-left: 118px;
}

.s3 .slide-item.slide-item-2 .r-c .line {
    margin: 20px auto;
}

.s3 .slide-item.slide-item-2 .r-c-c {
    
}

.s3 .slide-item.slide-item-3 .r-c-c {
   
}

.s3 .slide-item.slide-item-3 .r-c .line {
    margin: 30px auto;
}

.s3 .home .slide-item.slide-item-3  .c ul {
    list-style-position: outside;
}

.s3 .home .slides .slide-item.slide-item-0 .r-c .line {
    margin: 30px auto;
}

.s3 .apply-btn {
    float: right;
    clear: right;
    padding: 5px;
    background: #c1093d;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 33px;
    width: 176px;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    cursor: pointer;
}

.s3 .next-icon .next_txt{
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}

.s3 .next-icon .n-icon {
    margin-left: 5px;
}

.s3 .home .c a {
    color: #3d85e9;
    text-decoration: underline;
}
.s3 .home .slide-item.slide-item-3 .c ul p{
    margin-left: -20px;
}

.s3 .home .slide-item-0 .c, .s3 .home .slide-item-3 .c {
  
}

.slidesjs-pagination {
    position: absolute;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    left: 50%;
    width: 125px;
    margin-left: -50px;
}

.slideshow-con {
    position: relative;
}

.slidesjs-pagination .slidesjs-pagination-item {
    float: left;
    width: 20%;
}

.slidesjs-pagination .slidesjs-pagination-item a {
    background: url(../misc/images/pager_list.png) no-repeat;
    display: block;
    text-indent: 10000px;
}

.slidesjs-pagination .slidesjs-pagination-item a.active {
    background: url(../misc/images/pager_list_on.png) no-repeat;
}

.s5 .filters-con .filters .filter a {
    color:inherit;
    text-decoration: none;
}

.s5 .news-block .news-list {
    position: relative;
    overflow: hidden;
}

.s5 .news-block .news-list .new-content {
    position: absolute;
    top: 0px;
    left: 100%;
}

.s5 .news-block .news-detail {
    border: 1px solid #000;
    z-index: 2;
    background: #fff;
    left: 100%;
    overflow: hidden;
}

.s5 .news-block .news-detail > .wrapper {
    margin: 0 2%;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    position: relative;
}

.s5 .news-block .news-detail .news-detail-left {
    width: 20%;
    position: absolute;
}

.s5 .news-block .news-detail .news-detail-left > .wrapper .news-content.top{
    margin: 100px 0 0 30px;
}

.s5 .news-block .news-detail .news-detail-right {
    float: right;
    width: 80%;
}

.s5 .news-block .news-detail .news-pager {
    width: 20%;
    position: absolute;
    bottom: 0px;
}

.s5 .news-block .news-detail  .news-pager .links{
    float: left;
}

.s5 .news-block .news-detail .news-pager  .links .pre {
    float: left;
    width: 60px;
    height: 52px;
    background: #fff;
    border-right: 1px solid #989898;
    line-height: 52px;
    text-indent: 10000px;
    background: url(../misc/images/news_small_arrow_left.png) no-repeat;
    background-position: center;
}

.s5 .news-block .news-detail .news-pager  .links .next {
    float: left;
    width: 60px;
    height: 52px;
    border-right: 1px solid #989898;
    line-height: 52px;
    text-indent: 10000px;
    background: url(../misc/images/news_small_arrow_right.png) no-repeat;
    background-position: center;
}

.s5 .news-block .news-detail .news-pager  .back {
    float: right;
}

.s5 .news-block .news-detail   .news-pager .time{
    background: #979898;
    color: #fff;
    padding: 0 25px;
    line-height: 170%;
    font-size: 13px;
}

.s5 .news-block .news-detail  .news-pager .time .date{
    float: left;
}

.s5 .news-block .news-detail .news-pager .time .like{
    float: right;
}

.s5 .news-block .news-detail .news-pager  .back {
    width: 88px;
    height: 52px;
    line-height: 52px;
    background: url(../misc/images/news_list.png) no-repeat;
    background-position: 75% center;
    color: #595757;
}

.s5 .news-block .news-detail .news-pager  .back:hover {
    cursor: pointer;
}

.s5 .news-block .news-detail .news-content .body .c {
    color: #595757;
    font-size: 14px;
}

.s5 .news-block .news-detail .news-content .body .bar {
    color: #036e80;
    font-size: 16px;
    padding: 10px 0px;
}

.s5 .news-block .news-detail .news-detail-right > .wrapper {
    display: table-row;
}

.s5 .news-block .news-detail .news-detail-right > .wrapper .left{
    width: 5%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-position: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -43px;
    width: 47px;
    height: 87px;
}

.s5 .news-block .news-detail .news-detail-right > .wrapper .left .btn {
    background: url(../misc/images/news_arrow_left.png) no-repeat;
    background-position: center;
    display: inline-block;
    height: 131px;
    width: 100%;
    cursor: pointer;
}

.s5 .news-block .news-detail .news-detail-right > .wrapper .right .btn {
    background: url(../misc/images/news_arrow_right.png) no-repeat;
    background-position: center;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0px;
    width: 47px;
    height: 87px;
    margin-top: -43px;
}

.s5 .news-block .news-detail .news-detail-right > .wrapper .right .close-btn {
    width: 100%;
    height: 100px;
    background: url(../misc/images/news_close.png) no-repeat;
    background-position: center;
    display: inline-block;
    top: 0px;
    left: 0px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    margin-left: -60px;
}

.s5 .news-block .news-detail .news-detail-right > .wrapper .slides {
    width: 100%;
    margin: 0 auto;
    display: table-cell;
}

.s5 .news-block .news-detail .news-detail-right > .wrapper .right {
    width: 5%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: url(../misc/images/new-page-mainvisual-side-2.jpg) no-repeat;
    background-position: center;
    position: relative;
}

.s5 .news-block .news-detail .news-detail-right .slides-wrapper {
    position: relative;
    overflow: hidden;
}

/*.s2 .slides .slide-item {
    display: table-row;
}

.s2 .slides .slide-item.hideme {
    display: none;
}

.s2 .slides .slide-item .l {
    display: table-cell;
    vertical-align: middle;
    float: inherit;
}

.s2 .slides .slide-item .r {
    display: table-cell;
    vertical-align: middle;
    float: inherit;
    width: 50%
}

.s2 .slides .slide-item .r .r-c {
    margin-left: 144px;
    margin-right: 78px;
}*/

.s5 .news-block .news-detail .news-content .body .bar .star{
    background: url(../misc/images/news_star.png) no-repeat;
    width: 12px;
    height: 13px;
    margin-right: 10px;
    display: inline-block;
}

.s5 .news-block .news-detail .news-pager .time .like .heart{
    background: url(../misc/images/news_heart.png) no-repeat;
    width: 16px;
    height: 13px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.s5 .block-con .pager .left-p .home {
    width: 35px;
    height: 38px;
    background: url(../misc/images/news_home_double_left.png) no-repeat;
    background-position: center;
    text-indent: 1000px;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -19px;
}

.s5 .block-con .pager .left-p .pre {
    width: 91px;
    height: 39px;
    background: url(../misc/images/news_home_left.png) no-repeat;
    background-position: left center;
    display: inline-block;
    font-size: 13px;
    line-height: 39px;
    text-align: right;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    left: 60px;
}


.s5 .block-con .pager .right-p .last {
width: 35px;
height: 38px;
background: url(../misc/images/news_home_double_right.png) no-repeat;
background-position: center;
text-indent: 1000px;
display: inline-block;
position: absolute;
top: 50%;
margin-top: -19px;
right: 0px;
}

.s5 .block-con .pager .right-p .next {
    width: 61px;
    height: 39px;
    background: url(../misc/images/news_home_right.png) no-repeat;
    background-position: center right;
    display: inline-block;
    font-size: 13px;
    line-height: 39px;
    text-align: left;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 60px;
}

#home {
    background: url(../misc/images/pictures/home/1.jpg) no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    height: 120%;
    background-size: 100%;
    position: relative;
}

body > .maincontent {
    height: 100%;
    width: 100%;
    position: relative;
}

#academy > .wrapper {
}

#academy > .wrapper .home {
    position: relative;
}

#academy > .wrapper .home .content-top {
    position: relative;
}

#footer {
    height: auto;
}

.slideshow-item  {
    height: 100%;
}

.slideshow-item  {
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

#academy.scrolling .content-top .header {
    padding-top: 10px;
    padding-bottom: 38px;
}

#academy.scrolling .home .video {
    display: none;
}

#academy.scrolling .header h1 {
    font-size: 17px;
}

#academy.scrolling  .home .c {
    font-size: 13px;
}

#academy.scrolling  .home .star {
    display: none;
}

.video-js {
    margin: 0 auto;
    float: left;
}

#yenching-video-con {
    float: left;
    position: absolute;
    left: 50%;
    margin-left: -320px;
    top: 130px;
}

#yenching-video-con > .closebtn{
    position: absolute;
    right: -26px;
    width: 50px;
    height: 50px;
    top: -24px;
    z-index: 2;
}

.video-js .vjs-tech {
    float: left;
}


.s2 .home .slides .l .p-1 {
    position: absolute;
    top: 50%;
    margin-top: -59px;
    left: 7%;
    color: #970f37;
}

.s2 .home .slides .l .p-2 {
    position: absolute;
    margin-top: -59px;
    color: #970f37;
    bottom: 30px;
    left: 32%;
}

#home .home-nav {
    position: absolute;
    right: 0px;
    top: 6%;
    background-color: #B41a3c;
    color: #fff;
    padding: 20px 10px 20px 32px;
    font-size:14px;
    width: 176px;
}

#home .home-nav .more-info {
    line-height: 149%;
    font-family: "SimHei";
    text-align: right;
    margin-top: 20px;
}

#home .home-nav .more-info .p3 {
    margin-top: 25px;
}

#home .home-nav .more-info .p3 .for-app{
    font-weight: bold;
}

#home .home-nav .more-info .p3 .for-inquiry {
    font-weight: bold;
}

#home .home-nav .lan-bar li.item-1{
    float: left;
    border-right: 1px solid #fff;
    padding-right: 22px;
}

#home .home-nav .lan-bar li.item-2{
    float: left;
    padding-left: 22px;
}

#home .home-nav .lan-bar li a{
    color: #fff;
    text-decoration: none;
}

#academy .home .slides .r {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 50%;
}

#academy .home .slides .slide-item{
    display: table;
    top: 0px;
    left: 0px;
}

#academy .home .slides .slide-item .l {
    display: table-cell;
    float: none;
    width: 50%;
    position: relative;
    overflow: hidden;
}
#academy .home .slides .slide-item .r {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 50%;
    position: relative;
    background-color: #970F37;
}

#academy .home .slides .slide-item .r .r-c {
    width: 80%;
    margin: 0 auto;
}

#academy .home .slides .slide-item.hideme {
    display: none;
}

#academy .slide-item .btn-c {
    height: auto;
    right: 0px;
    top:50%;
    right:0px;
    margin-top: auto;
    display:none;
}

#academy .slide-item .btn-c .btn-item{
    height: 41px;
}

#academy  .slider-btns {
    display: none;
}

#program .home .slides .r {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 50%;
}

#program .home .slides .slide-item{
    display: table;
    top: 0px;
    left: 0px;
}

#program .home .slides .slide-item .l {
    display: table-cell;
    float: none;
    width: 50%;
    position: relative;
    overflow: hidden;
}
#program .home .slides .slide-item .r {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 50%;
    position: relative;
    background-color: #7A7885;
}

#program .home .slides .slide-item .r .r-c {
    width: 80%;
    margin: 0 auto;
}

#program .home .slides .slide-item.hideme {
    display: none;
}

#program .slide-item .btn-c {
    height: auto;
    right: 0px;
    top:50%;
    right:0px;
    margin-top: auto;
    display:none;
}

#program .slide-item .btn-c .btn-item{
    height: 41px;
}

#program  .slider-btns {
    display: none;
}

#program .slider-btns {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -60px;
    height: auto;
}

.subscribe-form {
  position: absolute;
  bottom: 7%;
}

.s3 .home .c ul p {
  padding: 0px;
  line-height: 100%;
}

li h5.slide-l-t {
  padding: 1% 0px;
}

.s2 .home .slides .slide-item-2  .r-c ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 5%;
}

.s2 .home .slides .slide-item-2  .r-c ul li{
    padding: 1%;
}

.s2 .home .slides .slide-item-1  .r-c .line{
    margin: 2% 0px;
}

#program .home .slide-item.slide-item-3 .c .r-c-slide-1 ul {
    list-style-position: inside;
}

#program .home .slide-item.slide-item-3 .c .r-c-slide-1 ul li.li-2 {
    margin: 3% 0px;
}

.s3 .home .slide-item.slide-item-3 .c .r-c-slide-1 ul p {
    margin-left: 0px;
}