@font-face {
  font-family: 'Helvetica Light';
  src: url('helvetica-light.eot'); /* IE9 Compat Modes */
  src: url('helvetica-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('helvetica-light.woff') format('woff'), /* Modern Browsers */
       url('helvetica-light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('helvetica-light.svg#53fc34fb6737daa8ac541a82b0a99ee9') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

